<h1>New Album</h1>

<%= form_for @album do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
    <%= f.label :released %>
    <%= f.text_field :released %>
    <%= f.label :image %>
    <%= f.url_field :image %>
    <%= f.submit %>
<% end %>