<div class="row-view">
 <div class="col-md-10">
    <h2>Album:</h2><h1><%= @album.title %></h1>
        <h4>Artist: <%= @album.artist.name unless @album.artist.nil? %></h4>
        <%= cl_image_tag(@album.image, :class => 'album-img') %>
        <p>Released: <%= @album.released.strftime '%A, %B %e, %Y' unless @album.released.nil? %></li></p>
    </div>
        <ul>
        <% @album.songs.each do |song| %>
            <li>
                <h4>Songs: <%= link_to song.title %></h4>
            </li>
            <% end %>
        </ul>
        <% if @current_user.id == @album.user_id || (@current_user.present? && @current_user.admin?) %>
        <br>
    <div class="controls">
        <%= link_to 'Edit Name', edit_album_path(@album) %>
        |
        <%= link_to 'Delete Album', @album, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
        <% end %>
</div>