<div class="list">
    <div class="row-view">
        <div class="col-md-10">
            <h2>Tapedeck:</h2><h1><%= @tapedeck.name.titleize %></h1>
            <p> Tapedeck created by: <span class='username'><%= @tapedeck.user.username.titleize %></span></p>
        </div>
    </div>
</div>
    <div class="controls">
    <% if @current_user.id == @tapedeck.user_id || (@current_user.present? && @current_user.admin?) %>
        <%= link_to 'Edit Name', edit_tapedeck_path(@tapedeck) %>
        |
        <%= link_to 'Delete Deck', @tapedeck, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
        |
        <%= link_to 'Add Album to Deck', tapedeck_add_album_page_path(@tapedeck) %>
        </div>
        <br>
        <br>
        <br>
        <% else %>
        <% end %>
    <div class="album-list">
            <% @tapedeck.albums.each do |album| %>
                <ul class="album-names">
                    <%= link_to(album.title, album) %> <%= %>
                    <%= cl_image_tag(album.image, :class => 'thumb') %>
                </ul>
            <% end %>
        </div>
    </div>
</div>