<!DOCTYPE html>
<html>
  <head>
    <title>Tapedeck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
<div class="container">

<nav class="navbar navbar-dark bg-dark">
    <nav>
    <%= image_tag 'logo3_white.png', :class => 'home-nav' %>
    <%= image_tag 'logo3_purp.png', :class => 'image-container'  %>
      <%= link_to 'Home', root_path %>
      <% if @current_user.present? %>
        <%= link_to "All users", users_path if @current_user.admin? %>
        <%= link_to "Create Tapedeck", new_tapedeck_path %>
        <%= link_to "Logout", login_path, :method => 'delete' %>
        <%= link_to "Profile", profile_path %>
      <% else %>
        <%= link_to 'Sign up', new_user_path %>
        <%= link_to 'Sign in', login_path %>
      <% end %>
    </nav>
     <p class='login'><%=if @current_user.present? then "Username: #{   @current_user.username.capitalize}" end %> 
        <% if @current_user.present? && @current_user.admin? %>
        <span class="admin"> Admin </span>
        <% end %> </p>
      </p>
    </nav>

    <%= yield %>

    <div>
  </body>
</html>